---
layout: default
---

<div class='post'>
  <h2 class='title'>{{ page.title }}</h2>

  <div class='content'>
  {{ content }}
  </div>
    <p class='meta'>Posted on: {{ page.date | date_to_string }}</p>
  <div class='social-share'>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}/" data-text="{{ page.title }}" data-via='sidjayanna' data-count="horizontal">Share on Twitter</a>
  </div>

  <div id='post-footer'>

    <div id='author-bio'>
      <div class='gravatar'>
        <img src="http://www.gravatar.com/avatar/0687e6637524442617cc342a1ee4755c?s=200">
      </div>

      <div class='bio'>
        Hi there! I’m Sid Jayanna.
        You can tweet to me at
        <a href='https://twitter.com/sidjayanna'>@sidjayanna</a>.
        <br>
        <br>
        <div class='links'>
          <a id='bio-home-link' href='/'>Posts</a>
          <a id='bio-about-link' href='/about/'>About</a>
        </div>
      </div>
    </div>

    <div class='subscribe'>
      <p class='text-sm'>
        You can also subscribe using your feed reader using the
        <a href="/feed.xml">atom feed</a>.
      </p>
    </div>

    {% if false %}
    <div id='prev-next-nav'>
      <div class='prev'>
        {% if page.previous.url %}
        <a id='nav-prev-link' href='{{page.previous.url}}'>&laquo; {{page.previous.title}}</a>
        {% endif %}
      </div>

      <div class='next'>
        {% if page.next.url %}
        <a id='nav-next-link' href='{{page.next.url}}'>{{ page.next.title }} &raquo;</a>
        {% endif %}
      </div>
    </div>

    <div id='related-posts'>
      <h3>Found this article interesting? You should check out these:</h3>
      <ul>
        {% for post in site.related_posts limit:5 %}
        {% assign index = forloop.index %}
        <li>
          <a id='related-posts-{{ index }}' href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>


  {% include disqus.html %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
